@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

*{
    box-sizing:border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Nunito Sans';
}

.container {
    display: grid;
    margin: 0 auto;
    width: 48vw;
    height: 54 vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 6fr 2fr;
    grid-template-areas: 
    'memory memory'
    'gamearea gamearea'
    'timer attempts'
    ;
    
}

.memory {
    grid-area: memory;
    margin: 0 auto;
    
    }

h1 {
    font-size: 40px;
    
}

.gamearea {
    grid-area: gamearea;
    width: 359px;
    height: 340px;
    margin: auto;
    }

.memoryfield {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    
}

.card {
    display: block;
    width: 25%;
    height: 25%;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(255, 255, 255, 0.9);
    text-align: center;
    
    
}

.fas {
    font-size: 70px;
    width: 100%;
    height: 100%;
}

.card > i {
    opacity: 0;
    
}

.card.clicked > i {
    opacity: 1;
    background-color: rgb(148, 210, 247);
    
}

.timatt {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    
}


.timer {
    grid-area: timer;
    width: 178px;
    padding-top: 20px;
    height: 60px;
    
}

.attempts {
    grid-area: attempts;
    width: 178px;
    padding-top: 20px;
    height: 60px;
    
} 

h2   {
    font-size: 20px;
    padding: 20px 0 20px 20px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.myattempts {
    font-size: 20px;
}

/* @media (max-width: 1000px) {
    
    .container {
        width: 60vw;
    }
    
    .gamearea {
        width: 60vw;
    }
    
    .memoryfield{
        width: 60vw;
        height: 60vh;
    }

    .memoryfield li {
        width: 15vw;
        height: 15vh;
    }
    

} */




@media (max-width: 700px) {
    
    .container {
        width: 80vw;
    }
    
    .gamearea {
        width: 100%;
    }
    
    .memoryfield{
        width: 100%;
        
    }

    .memoryfield li {
        width: 25%;
        height: 25%;
        
    }
    

}

